<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--Update Tasks-->
    <h2>Update Task</h2>
    <p>Update 🖊️ your pinned task here</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>

    <footer>
        <p>&copy; 2025 My Todo App</p>
    </footer>

</body>
</html>
