<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Todo App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2> Tasks List </h2>
    <ul>
          <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong><br>
                {{ task.desc }}<br>

                <a href="{% url 'update_tasks' task.id %}">Update</a> |
                <a href="{% url 'delete_tasks' task.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks available.</li>
        {% endfor %}
    </ul>
    <footer>
        <p>&copy; 2025 My Todo App</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>