<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% for post in page_obj %}
    <h3>{{ post.B_title }}</h3>
    <p>{{ post.B_content|truncatewords:20 }}</p>
    <a href="{% url 'post_details' post.id %}">Read More</a>
{% endfor %}

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>

    <footer>
        <p>&copy; 2025 My Django App</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>